*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background:linear-gradient(90deg,#ffa17f, #00223e);
    padding: 10px;
    width: 100%;
    min-height: 100vh;

}
.container h3{
    margin:50px;
   text-align: center;
   font-size: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:#fff;
}
/* adding css to form elements */
.first{
    background: #fff;
    width:50%;
    margin:auto;
    font-family: American Typewriter, serif;
    border-radius: 10px;
    

}
.first h1{
    font-size: 20px;
    padding: 20px;
    color:#002765;
}
form{
    padding: 10px 30px;
    font-size: 18px;
    font-family: 'poppins','sans-serif';
    ;
}
form .label{
    text-align:center;
    padding-bottom: 10px;
    color: #555;


}
form #txt1{
    width:100%;
    border: 0.5px  #0a0909 ;
    height:30px;
  
    border-radius: 5px;

}
form #txt1:hover{
    border:2px solid gray;

}
form .btn{
   margin:10px;
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
   background-color: #b8afaf;
   color:#fff;
   font-weight: bolder;
}

